.goban-analysis {
  position: absolute;
  display:  flex;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;

  margin:      $board-frame-size;
  margin-top:  $board-frame-size + $board-gutter-size / 2;
  margin-left: $board-frame-size + $board-gutter-size / 2;

  pointer-events: none;
}
