.goban_grid {
  position: absolute;
  display:  flex;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;

  margin:      $board-frame-size;
  margin-top:  $board-frame-size + $board-gutter-size / 2;
  margin-left: $board-frame-size + $board-gutter-size / 2;

  flex-flow:       row wrap;
  justify-content: space-around;
}

.goban_grid-space {
  flex:     1 0 (100%/9);
  display:  flex;
  position: relative;

  align-items:     center;
  justify-content: center;
}
